# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Lists (yesterday's overflow) & Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [6]:
# string.lstrip()

name = "      hEric Jiang"
print(name.lstrip(" " "h")) # strips the white space and h away --> for left strip

Eric Jiang

##### .rstrip()

In [11]:
# string.rstrip()


name = "Eric Jiang      th"
print(name.rstrip(" th"))  # case sensitive --> for right strip

Eric Jiang

##### .strip()

In [13]:
# string.strip()


name = "     Example     le"
print(name.strip("  le"))

Examp

##### .title()

In [16]:
# string.title()


president = "joe biden"
print(president.title())

Joe Biden

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [75]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

x= []
for i in names:
    x.append((i.strip(" ")).title())
print(x)

# Another way of solving it --> replacing the items in list directly
for i in range(len(names)):
    names[i] = names[i].strip().title()
print(names)

['Connor', 'Max', 'Evan', 'Jordan']
['Connor', 'Max', 'Evan', 'Jordan']

### Lists

##### Declaring Lists

In [34]:
l_1 = [] # Empty List Declaration


names = ["Max", 37, "Kathy", "Justin", 469.78, "Earl", "More Name", "Steve"]
print(names)

['Max', 37, 'Kathy', 'Justin', 469.78, 'Earl', 'More Name', 'Steve']

##### Indexing a List

In [36]:
# [start: stop: step] -- [-1]

#Single Index
print(names[0])

# Print starting at index 1 going to the end
print(names[1:])

#Print starting at beginning of list to N (n == the number we want to stop at)
print(names[:2])

# print starting at index 1 going up BY 2 in each iteration
print(names[1::2])

# print starting at the back and present in reverse order
print(names[::-1])

"Eric Jiang"[::-1] # to reverse the letters

Max
[37, 'Kathy', 'Justin', 469.78, 'Earl', 'More Name', 'Steve']
['Max', 37]
[37, 'Justin', 'Earl', 'Steve']
['Steve', 'More Name', 'Earl', 469.78, 'Justin', 'Kathy', 37, 'Max']

'gnaiJ cirE'

##### .append()

In [38]:
print(names)
names.append("Derick")
print(names)

['Max', 37, 'Kathy', 'Justin', 469.78, 'Earl', 'More Name', 'Steve']
['Max', 37, 'Kathy', 'Justin', 469.78, 'Earl', 'More Name', 'Steve', 'Derick']

##### .insert()

In [39]:
# list.insert(index,value)
names.insert(3,"Taty")
print(names)

['Max', 37, 'Kathy', 'Taty', 'Justin', 469.78, 'Earl', 'More Name', 'Steve', 'Derick']

##### .pop()

In [40]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

senior_instructor = names.pop()
print(senior_instructor)
print(names)

Derick
['Max', 37, 'Kathy', 'Taty', 'Justin', 469.78, 'Earl', 'More Name', 'Steve']


##### .remove()

In [52]:
# value to be removed , not index

names.remove("Taty") 
print(names)

['Max', 37, 'Kathy', 469.78, 'Earl', 'More Name', 'Steve', 'Justin']

##### del()

In [53]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Kathy', 469.78, 'Earl', 'More Name', 'Steve', 'Justin']

##### Reassigning a value by index

In [57]:
names[1] = "Katherine"
print(names)

['Max', 'Katherine', 469.78, 'Earl', 'More Name', 'Steve', 'Justin']

##### Concatenating Two Lists

In [59]:
# will append two lists together, not add up the elements in each list

l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [62]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]
print(names)
print(names[3])
print(names[3][2])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
['Sally', 'Sue', 'Tameka']
Tameka

##### Looping Through Lists

In [66]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# Loop with a for loop (By Index)
for i in range(len(names)):
    print(names[i]) # to print the actual values of what is in each element instead of the element placement values (0, 1, 2, 3, etc.)
    
# Loop with a for loop (Using the 'in' keyword)
for name in names:
    print(name)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

### Working With Lists

##### min()

In [78]:
# min(list)

numbers = [1, 24, 3, 70, 5, 6, 54, 89, 100]
print(min(numbers))

1

##### max()

In [80]:
# max(list)

numbers = [1, 24, 3, 70, 5, 6, 54, 89, 100]
print(max(numbers))

100

##### sum()

In [81]:
# sum(list)

numbers = [1, 24, 3, 70, 5, 6, 54, 89, 100]
print(sum(numbers))

352

##### sorted()

In [86]:
# sorted(list)

numbers = [1, 24, 3, 70, 5, 6, 54, 89, 100]

sorted_numbers = sorted(numbers)
print(sorted_numbers)


print(f'Original numbers list: {numbers}')
print(f'Sorted numbers list: {sorted_numbers}')


# Also sorts in alphabetical order (case does matter) --> order goes by Capital then lower 
# --> numbers in string form will go first before any letters
print(sorted(["Food", "Alphabetical", "Eric", "Sleep", "Monkey"]))


# To reverse the list
print(sorted(["Food", "Alphabetical", "Eric", "Sleep", "Monkey"], reverse = True))

[1, 3, 5, 6, 24, 54, 70, 89, 100]
Original numbers list: [1, 24, 3, 70, 5, 6, 54, 89, 100]
Sorted numbers list: [1, 3, 5, 6, 24, 54, 70, 89, 100]
['Alphabetical', 'Eric', 'Food', 'Monkey', 'Sleep']
['Sleep', 'Monkey', 'Food', 'Eric', 'Alphabetical']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [88]:
# list.sort()
print(f'Before Sort: {numbers}')

numbers.sort()
print(f'After sort: {numbers}')

# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

Before Sort: [1, 24, 3, 70, 5, 6, 54, 89, 100]
After sort: [1, 3, 5, 6, 24, 54, 70, 89, 100]

##### Copying a List

In [90]:
# [:] copies a list, doesn't alter original

numbers_3 = numbers[:]
print(numbers_3)
print(numbers)

[1, 3, 5, 6, 24, 54, 70, 89, 100]
[1, 3, 5, 6, 24, 54, 70, 89, 100]

##### 'in' keyword

In [95]:
l_teachers = ["Joel", "Derek", "Nate", "Brian", "Sam", "Marcus"]

if "Derek" in l_teachers:
    print("Derek is a Teacher at CT")
else:
    print("Derek is not a Teacher at CT")
    
    
    
for name in l_teachers:
    if "B" in name:
        print('Name starts with "B"')
    else:
        print('Name does not start with "B"')
        
        
        
for name in l_teachers:
    if "B" in name[0]: 
        print("This name starts with B")
    else:
        print("Does not start with B")

Derek is a Teacher at CT
Name does not start with "B"
Name does not start with "B"
Name does not start with "B"
Name starts with "B"
Name does not start with "B"
Name does not start with "B"
Does not start with B
Does not start with B
Does not start with B
This name starts with B
Does not start with B
Does not start with B

##### 'not in' keyword

In [96]:
if "Nicole" not in l_teachers:
    print("Nicole is not an instructor")

Nicole is not an instructor

##### Checking an Empty List

In [98]:
# if l_1: or if l_1 = []

l_2 = []

if l_2:
    print("it is a list with contents")
    

if l_2 == []:
    print("empty list")

empty list

##### Removing Instances with a Loop

In [100]:
# while, remove

names = ["Connor", "Jeff", "Alex", "Claire", "Rob", "Julia", "Connor", "Alex", "Julia"]

while "Julia" in names:
    names.remove("Julia")
    print(names)

['Connor', 'Jeff', 'Alex', 'Claire', 'Rob', 'Connor', 'Alex', 'Julia']
['Connor', 'Jeff', 'Alex', 'Claire', 'Rob', 'Connor', 'Alex']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [121]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

for i in names: 
    no_dup_names = list(set(names))
print(no_dup_names)



# Another way of doing it --> adding each name into names_2 and if name already is in name_2, it doesn't append into names_2
names_2 = []
for name in names:
    if name not in names_2:
        names_2.append(name)
print(names_2)



# Another way of doing it
for element in names:
    count = names.count(element)
    while count > 1:
        names.remove(element)
        count -= 1
print(names)

['kevin', 2, 'max', 3, 'evan', 4, 'connor', 'bob']
['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']
['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [129]:
# number comprehension

# With a regular for loop

nums = []
for i in range(100):
    nums.append(i)
print(nums)

# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition

print('\n')
#[variable, transform, condition]


nums_comp = [i for i in range(100)]
# that means append i for i in range(100)
print(nums_comp)




print('\n')

nums_comp = [i for i in range(100) if i % 2 ==0]
# that means append i for i in range(100). You can also have conditions
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [131]:
# square number comprehension

squares = [x**2 for x in range(10)]
print(squares)


# Regular way
squares_reg = []
for x in range(10):
    squares_reg.append(x**2)
print(squares_reg)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [135]:
# string comprehension

names = ["Connor", "Jeff", "Alex", "Claire", "Rob", "Julia"]

first_char_comp = [name[0] for name in names]
print(first_char_comp)


# OG for loop version
first_char = []
for name in names:
    first_char.append(name[0])
print(first_char)

['C', 'J', 'A', 'C', 'R', 'J']
['C', 'J', 'A', 'C', 'R', 'J']

In [137]:
# Using the "if" statement... "if" always comes after "for"

c_names = [first_name for first_name in names if first_name[0] == "C"]
print(c_names)



# OG for loop version
c_reg = []
for first_name in names:
    if first_name[0] == "C":
        c_reg.append(first_name)
print(c_reg)

['Connor', 'Claire']
['Connor', 'Claire']

In [138]:
# else 

c_names = [first_name if first_name[0] == "C" else False for first_name in names]
print(c_names)

['Connor', False, False, 'Claire', False, False]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [142]:
tup_1 = 1, 2, 3 # first way to create a tuple
tup_2 = (1, 2, 3) # Another way to create a tuple
print(type(tup_1))
print(type(tup_2))

print(tup_2[0])


# Looping over a tuple

for number in tup_1:
    print(number)
    

# index loops

for i in range(len(tup_1)):
    print(tup_1[i])

<class 'tuple'>
<class 'tuple'>
1
1
2
3
1
2
3

##### sorted()

In [147]:
tup_3 = (20, 5 , 1, 3, 9, 45)

sorted_tup = tuple(sorted(tup_3))
print(sorted_tup)

(1, 3, 5, 9, 20, 45)

##### Adding values to a Tuple

In [158]:
tup_4 = (1, 2, 3)
print(tup_4) 

tup_new = tup_4 + (5,7)
print(tup_new) 


# for strings in tuples
tup_new = tup_4 + ("Eric",7)
print(tup_new)

(1, 2, 3)
(1, 2, 3, 5, 7)
(1, 2, 3, 'Eric', 7)

## Functions

##### User-Defined vs. Built-In Functions

In [162]:
# User defined function

def helloWorld():
    return "Hello World"

# Call a function 
print(helloWorld())


# Showing the function in memory
print(helloWorld)
print(print)

Hello World
<function helloWorld at 0x000001AF982E7700>
<built-in function print>

##### Accepting Parameters

In [167]:
# order matters
# A variable can be any type of python object 

def printFullName(first, last):
    return f'Hello {first} {last}!'


# to see the values 
print(printFullName("Eric", "Jiang"))
print(printFullName("Jiang", "Eric"))

print(printFullName(last="Jiang", first="Eric")) # --> first and last variable identified here

Hello Eric Jiang!
Hello Jiang Eric!
Hello Eric Jiang!

##### Default Parameters

In [171]:
# Default params must come after non-default params in definitions at all times

def AgentName(first, last="Bond"):
    return f'The name is... {first} {last}'

print(AgentName("James"))

The name is... James Bond

##### Making an Argument Optional

In [178]:
def HorseName(first, middle="", last="Ed"): # "" --> empty string not empty space
    return f'Hello {first} {middle} {last}'

print(HorseName("James"))
print(HorseName("James", "Jiang"))

Hello James  Ed
Hello James Jiang Ed

##### Keyword Arguments

In [ ]:
# last_name='Max', first_name='Smith' in the function call

# see above

# Creating a start, stop, step function

In [182]:
def my_range(stop, start = 0, step = 1):
    for i in range(start, stop, step):
        print(i)
        
my_range(1000,900, 10)

900
910
920
930
940
950
960
970
980
990

##### Returning Values

In [187]:
def addNums(num1, num2):
    return num1 * num2

addNums(2, 4)

8

##### *args / **kwargs (AKA KeyWord Args)

In [189]:
# args stands for arguments, takes in ANY amount of arguments as Params
# must be last if multiple parameters are present

def Args(num1, *args, **kwargs):
    print(num1)
    print(args)
    print(kwargs)
    
    for arg in args:
        print(arg)
    
Args(12, "DragonZord", "vanilla", 2, 3, name = "Eric", testing = "123")

12
('DragonZord', 'vanilla', 2, 3)
{'name': 'Eric', 'testing': '123'}
DragonZord
vanilla
2
3

##### Docstring

In [193]:
def printNames(list_1):
    """
        printNames(list_1)
        Function requires a list to be passed as an argument 
        and will print the contents of the list. Expecting a 
        list of names(strings) to be passed in.
    """
    
    for name in list_1:
        print(name)
        

printNames(["Nate", "Jonathan", "Marcus"])

help(printNames)

Nate
Jonathan
Marcus
Help on function printNames in module __main__:

printNames(list_1)
    printNames(list_1)
    Function requires a list to be passed as an argument
    and will print the contents of the list. Expecting a
    list of names(strings) to be passed in.

##### Using a User Function in a Loop

In [194]:
def printInput(answer):
    print(answer)
    
while True:
    ask=input("What do you want to do?")
    
    printInput(ask)
    
    response = input("Ready to quit??? Y/N")
    if response.lower() == 'y':
        break

What do you want to do?play
play
Ready to quit???yes
What do you want to do?play
play
Ready to quit???y

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [204]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']
def FullName(list_1, last_list):
    x = []
    for name in range(len(list_1)):
        x.append(list_1[name] + " " + last_list[name])
    return x
FullName(first_name, last_name)

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [197]:
# placement of variable declaration matters

number = 3 # Global variable

def myFunc():
    num_3 = 6 # Local Function variable
    return num_3



# print(num_3) --> will cause an error because variable is local to function 

return_num = myFunc()
print(return_num)


names = ["Eric", "Yes"]
for name in names: 
    print(name)
    
print(name)

6
Eric
Yes
Yes

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [247]:
# Use the following list - [1,11,14,5,8,9]

# l_1 = [1,11,14,5,8,9]

def orderList(l_1):
    x = []
    for i in range(len(l_1)):
        if l_1[i] < 10:
            x.append(l_1[i])
    return x

orderList([1,11,14,5,8,9])

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [257]:
# l_1 = [1,2,3,4,5,6]
# l_2 = [3,4,5,6,7,8,10]

def combineSort(l_1, l_2):
    comb = sorted(l_1 + l_2)
    return comb

combineSort([1,2,3,4,5,6], [3,4,5,6,7,8,10])

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]